/PilhaVetor/build/
/PilhaVetor/nbproject/private/
/RecursaoMatematica/nbproject/private/
/ListasNos/nbproject/private/
/ContaBancaria/nbproject/private/
/ListasNos/build/
/ListaDuplamenteLigada/nbproject/private/
/ListaCircularDuplamenteLigada/target/
/RevisaoCalculadora/target/
/Gui/nbproject/private/
/ExercicioMvc/nbproject/private/
/ExercicioMvc/build/
/ExercicioTP29_04/nbproject/private/
